.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1d;
  overflow: scroll;
  height: calc(100vh - 50px);
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  justify-content: space-between;
  width: 350px;
}

.video-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

.group-video {
  height: 40%;
  width: 50%;
}

h5 {
  color: #fff;
}

@media (max-width: 935px) {
  // .outer-container {
  //   height: 100vh;
  // }
}

@media (min-width: 320px) and (max-width: 480px) {
  // .outer-container {
  //   height: 100%;
  // }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .video-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .outer-container {
    flex-direction: column;
  }
}
