.my-video {
  width: 640px;
  height: 480px;
}

.position-absolute {
  position: absolute;
}

.display-flex {
  display: flex;
}

@media (min-width: 1000px) and (max-width: 1470px) {
  .my-video {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 999px) {
  .my-video {
    width: auto;
    max-height: calc(90vh - 50px);
  }
}
